/vendor/
/node_modules/
/.phpunit.cache/
/coverage-html/
/tests/results/
composer.lock
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.swp
*.swo
*~